/* =========================
   RESPONSIVE CELULAR
========================= */

@media(max-width:768px){

    *{
        max-width:100%;
        box-sizing:border-box;
    }

    body{
        overflow-x:hidden;
    }

    .header{
        flex-direction:column;
        align-items:center;
        gap:20px;
        padding:20px;
    }

    .logo img{
        width:90px;
    }

    .menu{
        display:flex;
        flex-direction:column;
        align-items:center;
        gap:15px;
        width:100%;
    }

    .menu a{
        font-size:20px;
    }

    .hero{
        padding:20px;
        text-align:left;
    }

    .hero h1{
        font-size:55px;
        line-height:1.1;
    }

    .hero p{
        font-size:18px;
        line-height:1.5;
    }

    .cards{
        display:flex;
        flex-direction:column;
        gap:20px;
        padding:20px;
    }

    .card{
        width:100%;
    }

    .contenedor{
        width:100%;
        padding:15px;
    }

    table{
        display:block;
        overflow-x:auto;
        white-space:nowrap;
    }

    button{
        width:100%;
    }

}